{% extends 'dashboard/base.html' %}
{% block title %}Profile{% endblock %}

{% block main %}


<main>
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">

          <!-- complete profile -->
  <!-- <div class="col-12">
  <div class="bg-primary rounded-3 p-2 shadow">

<div class="d-flex">
<div id="radialChart"></div>

<div class="ms-2 mt-2">
  <h5>Profile Informations</h5>
  <p>complete your profile to unlock all features</p>
</div>

</div>

<a
href="profile-settings.html"
class="mt-2 btn btn-success border-0 rounded-pill m-auto d-block"
>Complete My Profile</a
>
</div>
</div> -->
          <div class="col-12">
            <div class="card mt-3">
              <div class="card-body pb-0"><div id="setting-nav">
<h4 class="card-title mb-2 border-bottom pb-2">Settings</h4>
<!-- <a
href="profile-settings.html"
class="
  d-flex
  btn btn-light
  align-items-center
  justify-content-between
  fw-bold
  rounded-3
  
  border-0
  p-2
"
>
<div class="d-flex align-items-center">
  <div
    class=" op-primary cw-35 ch-35 d-flex align-items-center justify-content-center rounded-2 "
  >
    <img
      src={{url_for('static', filename="dashboard/assets/icons/avatar.svg")}}
      class="svg svgh-16 cw-16 text-primary fill-primary"
      alt="Personal Info"
    />
  </div>

  <p class="ms-3">Personal Info</p>
</div>
<i class="ri-arrow-right-s-line"></i>
</a> -->
<a
href="{{url_for('dashboard.security')}}"
class="
  d-flex
  btn btn-light
  align-items-center
  justify-content-between
  fw-bold
  rounded-3
   mt-2 
  border-0
  p-2
"
>
<div class="d-flex align-items-center">
  <div
    class=" op-danger cw-35 ch-35 d-flex align-items-center justify-content-center rounded-2 "
  >
    <img
      src={{url_for('static', filename="dashboard/assets/icons/security.svg")}}
      class="svg svgh-16 cw-16 text-danger fill-danger"
      alt="Security"
    />
  </div>

  <p class="ms-3">Security</p>
</div>
<i class="ri-arrow-right-s-line"></i>
</a>
<a
href="{{url_for('dashboard.payment_method')}}"
class="
  d-flex
  btn btn-light
  align-items-center
  justify-content-between
  fw-bold
  rounded-3
   mt-2 
  border-0
  p-2
"
>
<div class="d-flex align-items-center">
  <div
    class=" op-dark cw-35 ch-35 d-flex align-items-center justify-content-center rounded-2 "
  >
    <img
      src={{url_for('static', filename="dashboard/assets/icons/bank-building.svg")}}
      class="svg svgh-16 cw-16 text-dark fill-dark"
      alt="Payment Method"
    />
  </div>

  <p class="ms-3">Payment Method</p>
</div>
<i class="ri-arrow-right-s-line"></i>
</a>
<!-- <a
href="api-key.html"
class="
  d-flex
  btn btn-light
  align-items-center
  justify-content-between
  fw-bold
  rounded-3
   mt-2 
  border-0
  p-2
"
>
<div class="d-flex align-items-center">
  <div
    class=" op-info cw-35 ch-35 d-flex align-items-center justify-content-center rounded-2 "
  >
    <img
      src={{url_for('static', filename="dashboard/assets/icons/key.svg")}}
      class="svg svgh-16 cw-16 text-info fill-info"
      alt="Api key"
    />
  </div>

  <p class="ms-3">Api key</p>
</div>
<i class="ri-arrow-right-s-line"></i>
</a> -->
</div>
</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
<div class="row">
<div class="col-md-6"><div class="card">
<div class="card-header">
<h4 class="card-title">User Informations</h4>
</div>
<div class="card-body">
<form name='user_info' enctype="multipart/form-data" method="post" class="form">
  <div class="form-group mb-4">
    <!-- <label for="" class="d-block fw-bold mb-1">Profile Pic</label> -->
    <div class="d-flex align-items-center">
      <img
      {% if not current_user.display_photo  %}
        src={{url_for('static', filename="dashboard/assets/images/profile.jpg")}}
      {% else %}
        src={{url_for('static', filename="uploads/"+current_user.display_photo)}}
      {% endif %}
        alt="Profile"
        class="cw-90 ch-90 rounded-3"
      />
      <div class="ms-3">
        <label
          for="file-upload"
          class="me-2 btn btn-primary border-0 cw-160 text-center mb-2"
        >
          Upload
        </label>
        <input id="file-upload" name="profile_photo" class="d-none" type="file" />
        <a href="#" class="btn btn-danger border-0 cw-160 mb-2 text-center"
          >Remove</a
        >
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="" class="d-block fw-bold mb-2">Username</label>
    <div class="input-group">
      <div
        class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
      >
        <img
          class="svg svgh-16 cw-16 text-primary fill-primary"
          src={{url_for('static', filename="dashboard/assets/icons/avatar.svg")}}
          alt=""
        />
      </div>

      <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{current_user.username}}"
        class="form-control"
      />
    </div>
  </div>

  <div class="from-group">
    <input
      type="submit"
      value="Save"
      class="btn btn-primary border-0 w-100 mt-2"
    />
  </div>
</form>
</div>
</div>
</div>
<div class="col-md-6"><div class="card">
<div class="card-header">
<h4 class="card-title">Security Informations</h4>
</div>
<div class="card-body">
<form class="form" name="security-info" method="post">
  <div class="form-group mb-2">
    <label for="" class="d-block fw-bold mb-2">Email</label>
    <div class="input-group">
      <div
        class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
      >
        <img
          class="svg svgh-16 cw-16 text-primary fill-primary"
          src={{url_for('static', filename="dashboard/assets/icons/envelope.svg")}}
          alt=""
        />
      </div>

      <input
        type="text"
        name="email"
        placeholder="example@gmail.com"
        value="{{current_user.email}}"
        class="form-control"
      />
      <input
        type="text"
        name="withdrawal-address"
        placeholder=""
        value="{{current_user.email}}"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-group mb-2">
    <label for="" class="d-block fw-bold mb-2">New password</label>
    <div class="input-group">
      <div
        class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
      >
        <img
          class="svg svgh-16 cw-16 text-primary fill-primary"
          src={{url_for('static', filename="dashboard/assets/icons/padlock.svg")}}
          alt=""
        />
      </div>

      <input
        name="password"
        type="password"
        placeholder="Enter your new password"
        value="{{current_user.password}}"
        class="form-control"
      />
    </div>
    <p class="sub-text mt-1">
      Enable two factor authencation on the security page
    </p>
  </div>

  <div class="from-group">
    <input
      type="submit"
      value="Save"
      class="btn btn-primary border-0 w-100 mt-2"
    />
  </div>
</form>
</div>
</div>
</div>
<div class="col-xl-12"><div class="card">
<div class="card-header">
<h4 class="card-title">Personal Informations</h4>
</div>
<div class="card-body">
<form class="form" name="security-info" method="post">
  <div class="row">
  
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <label for="" class="d-block fw-bold mb-2">Birth Day</label>
        <div class="input-group">
          <div
            class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
          >
            <img
              class="svg svgh-16 cw-16 text-primary fill-primary"
              src={{url_for('static', filename="dashboard/assets/icons/cake.svg")}}
              alt=""
            />
          </div>

          <input
            type="date"
            name="dob"
            placeholder=""
            class="form-control"
            value="{{current_user.dob}}"
          />
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group mb-3">
        <label for="" class="d-block fw-bold mb-2">City</label>
        <div class="input-group">
          <div
            class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
          >
            <img
              class="svg svgh-16 cw-16 text-primary fill-primary"
              src={{url_for('static', filename="dashboard/assets/icons/skyline.svg")}}
              alt=""
            />
          </div>

          <input type="text" name="city"   value="{{current_user.city|title}}" placeholder="Dhaka" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <label for="" class="d-block fw-bold mb-2">Present Address</label>
        <div class="input-group">
          <div
            class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
          >
            <img
              class="svg svgh-16 cw-16 text-primary fill-primary"
              src={{url_for('static', filename="dashboard/assets/icons/placeholder.svg")}}
              alt=""
            />
          </div>

          <input
            type="text"
            name="present_address"
            placeholder="Dhaka,Bangladesh"
            value="{{current_user.temporary_address}}"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <label for="" class="d-block fw-bold mb-2">Permanent Address</label>
        <div class="input-group">
          <div
            class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
          >
            <img
              class="svg svgh-16 cw-16 text-primary fill-primary"
              src={{url_for('static', filename="dashboard/assets/icons/placeholder.svg")}}
              alt=""
            />
          </div>

          <input
            type="text"
            name="permanent_address"
            placeholder="Rangpur,Bangladesh"
            class="form-control"
            value="{{current_user.permanent_address}}"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <label for="" class="d-block fw-bold mb-2">Postal Code</label>
        <div class="input-group">
          <div
            class="op-primary d-flex align-items-center justify-content-center input-group-text border-0"
          >
            <img
              class="svg svgh-16 cw-16 text-primary fill-primary"
              src={{url_for('static', filename="dashboard/assets/icons/mailbox.svg")}}
              alt=""
            />
          </div>

          <input type="text" name="postal_code" placeholder="8800"   value="{{current_user.postal_code}}" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <input
      type="submit"
      value="Save"
      class="btn btn-primary cw-150 border-0 mt-2"
    />
  </div>
</form>
</div>
</div>
</div>
</div>

</div>
    </div>
  </div>
</main>


{% endblock %}