{% extends 'dashboard/base.html' %}

{% block title %}Live Trading{% endblock %}

{% block main %}
<main>
  <div class="container-xl">
<div class="row">

<!-- <div class="col-12">
  <div class="card">
<div class="card-header d-sm-flex align-items-center justify-content-between">
<h4 class="card-title">Your Balance (BTC)</h4>
<p class="text-muted">Update 10 minutes ago</p>
</div>
<div class="card-body row">
<div class="col-xl col-lg-auto col-md-auto col-sm-auto col-6 mb-3">
  <p class="text-muted">Equity</p>
  <p>44.00 BTC</p>
</div>
<div class="col-xl col-lg-auto col-md-auto col-sm-auto col-6 mb-3">
  <p class="text-muted">Available Balance</p>
  <p>44.00 BTC</p>
</div>
<div class="col-xl col-lg-auto col-md-auto col-sm-auto col-6 mb-3">
  <p class="text-muted">Unrealized PNL</p>
  <p>44.00 BTC</p>
</div>
<div class="col-xl col-lg-auto col-md-auto col-sm-auto col-6 mb-3">
  <p class="text-muted">Open Positions Margin</p>
  <p>44.00 BTC</p>
</div>
<div class="col-xl col-lg-auto col-md-auto col-sm-auto col-6 mb-3">
  <p class="text-muted">Active Order Margin</p>
  <p>44.00 BTC</p>
</div>
</div>
</div>
</div> -->

<!-- tradeview start -->
<div class="col-md-12 col-lg-8">
<div class="card"><div id="tradingview_e8053"></div></div>
</div>
<!-- trade view end -->

<!-- my trades -->
<!-- <div class="col-md-6 col-lg-4"><div class="card quick-trad">
<div class="card-header">
<div class="nav d-flex" role="tablist">
  <a
    class="mb-2 me-2 px-1 active"
    data-toggle="tab"
    href="#my-trade"
    role="tab"
    aria-selected="true"
    >My Trades</a
  >
  <a
    class="mb-2 me-2 px-1"
    data-toggle="tab"
    href="#market-trade"
    role="tab"
    aria-selected="true"
    >Market Trades</a
  >
</div>
</div>
<div class="card-body ch-table">
<div class="position-relative" id="trade-history">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="my-trade" role="tabpanel">
      <table class="w-100 table table-borderless mb-0">
        <thead class="thade-shadow">
          <tr class="text-muted">
            <td>Size</td>
            <td>Price(USD)</td>
            <td>Time</td>
          </tr>
        </thead>
        <tbody>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00<i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00<i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00<i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00<i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade show" id="market-trade" role="tabpanel">
      <table class="w-100 table table-borderless mb-0">
        <thead class="thade-shadow">
          <tr class="text-muted">
            <td>Size</td>
            <td>Price(USD)</td>
            <td>Time</td>
          </tr>
        </thead>
        <tbody>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00 <i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00 <i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>2402</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>1145</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-success px-3">
            <td>4234</td>
            <td class="text-success">
              7999.00 <i class="ri-arrow-up-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
          <tr class="hop-danger px-3">
            <td>1123</td>
            <td class="text-danger">
              7999.00 <i class="ri-arrow-down-line ms-1"></i>
            </td>
            <td>14:33:45</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div> -->
<!-- my trades end -->


<!-- Live trade -->
<div class="col-md-6 col-lg-4">
  <div class="card quick-trad" id="trading">
<div class="card-header">
<div class="nav d-flex" role="tablist">
  <!-- <a
    class="mb-2 px-1 me-2"
    data-toggle="tab"
    href="#Limit"
    role="tab"
    aria-selected="true"
    >Limit</a
  > -->
  <a
    class="mb-2 px-1 me-2 active"
    data-toggle="tab"
    href="#"
    role="tab"
    aria-selected="true"
    >Watch Live Traders</a
  >
</div>
</div>
<div class="card-body">
<div class="tab-content">
  <!-- <div class="tab-pane fade show" id="Limit" role="tabpanel">
    <form class="from">
      <div class="input-group mb-3">
        <div>
          <select
            class="
              form-select
              input-group-text
              border-end-0
              rounded-0 rounded-start
              pe-5
            "
          >
            <option selected>BTC</option>
            <option value="1">DASH</option>
            <option value="2">Ether</option>
            <option value="3">USDT</option>
          </select>
        </div>
        <input type="number" class="form-control" placeholder="0.00214" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">USD</span>
        <input type="number" class="form-control" placeholder="8796" />
      </div>

      <div class="mb-3 sub-text">
        <div class="d-flex mb-1 justify-content-between">
          <p>Available</p>
          <p>0.0012 BTC = 1234 USD</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Order value</p>
          <p>0.0012 BTC = 1234 USD</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Margin</p>
          <p>0.0012 BTC = 1234 USD</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Fee</p>
          <p>0.0012 BTC = 1234 USD</p>
        </div>
      </div>

      <div class="input-group mb-3">
        <div
          class="d-flex align-items-center justify-content-between w-100"
        >
          <p>Trigger Condition</p>
          <label class="switch checked-bg-danger">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div
          class="d-flex align-items-center justify-content-between w-100"
        >
          <p>Post only</p>
          <label class="switch checked-bg-success">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div
          class="d-flex align-items-center justify-content-between w-100"
        >
          <p>Reduce only</p>
          <label class="switch checked-bg-success">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="btn-group mb-1 w-100">
        <input type="submit" value="Buy" class="btn btn-success border-0" />
        <input type="submit" value="Sell" class="btn btn-danger border-0" />
      </div>
    </form>
  </div> -->
  <div class="tab-pane fade show active" id="Market" role="tabpanel">
    <form class="from">
      <!-- <div class="input-group mb-3">
        <span class="input-group-text">USD</span>
        <input type="number" class="form-control" placeholder="8796" />
      </div> -->

      <!-- <div class="mb-3 sub-text">
        <div class="d-flex mb-1 justify-content-between">
          <p>Quantity</p>
          <p>0.0012 BTC</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Est. average price</p>
          <p>1234 USD</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Est. last price</p>
          <p>1234 USD</p>
        </div>
        <div class="d-flex mb-1 justify-content-between">
          <p>Est. % change</p>
          <p>1234 USD</p>
        </div>
      </div> -->

      <div class="input-group mb-3">
        <div
          class="d-flex align-items-center justify-content-between w-100"
        >
          <p>Microphone</p>
          <label class="switch checked-bg-success">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div
          class="d-flex align-items-center justify-content-between w-100"
        >
          <p>Camera</p>
          <label class="switch checked-bg-success">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="btn-group mb-1 w-100">
        <input type="submit" value="Join Live Trade" class="btn btn-success border-0" />
        <!-- <input type="submit" value="Sell" class="btn btn-danger border-0" /> -->
      </div>
    </form>
  </div>
</div>
</div>
</div>

</div>



<!-- <div class="col-md-6 col-lg-4">
<div class="card">
<div class="card-header d-flex align-items-center justify-content-between">
<h4 class="card-title mb-0">Your Protfulio</h4>
<p class="text-primary">My size</p>
</div>
<div class="card-body">
<div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">BTC</p>
    <p>200</p>
  </div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">Contracts</p>
    <p>283</p>
  </div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">ROE</p>
    <p>68.07%</p>
  </div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">Enter Price</p>
    <p>9999.7 USD</p>
  </div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">Liquidation Price</p>
    <p>9999.7 USD</p>
  </div>
  <div class="d-flex mb-2 align-items-center justify-content-between">
    <p class="text-muted">Unrealized P&L</p>
    <p>9999.7 USD</p>
  </div>
</div>
<hr />
<div class="d-flex mb-2 align-items-center justify-content-between">
  <p class="text-muted">Leverage</p>
  <p class="d-flex align-items-center">
    25.00X <i class="ri-edit-2-fill font-bold ms-1 c-pointer"></i>
  </p>
</div>
<div
  class="
    p-2
    d-flex
    mb-2
    align-items-center
    justify-content-between
    rounded
    bg-gradient-danger-success
    text-white
  "
>
  <p>0.0%</p>
  <p>Risk</p>
  <svg
    class="svgh-15 fill-white"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background: new 0 0 512 512"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256
          C512,114.497,397.492,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216
          c119.393,0,216,96.615,216,216C472,375.393,375.384,472,256,472z"
        ></path>
      </g>
    </g>
    <g>
      <g>
        <path
          d="M256,214.33c-11.046,0-20,8.954-20,20v128.793c0,11.046,8.954,20,20,20s20-8.955,20-20.001V234.33
          C276,223.284,267.046,214.33,256,214.33z"
        ></path>
      </g>
    </g>
    <g>
      <g>
        <circle cx="256" cy="162.84" r="27"></circle>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</div>
</div>
</div>
</div>


<div class="col-md-6 col-lg-4">
<div class="card orderBook">
<div class="card-header">
<h4 class="card-title">Order Book</h4>
</div>
<div class="card-body ch-table">
<table class="table table-borderless mb-0">
  <thead class="thade-shadow">
    <tr>
      <td>Price (USD)</td>
      <td>Price</td>
      <td>My Size</td>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-danger-80 ">
      <td class="p-1">7999.00</td>
      <td class="text-danger p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-danger-60 ">
      <td class="p-1">7999.00</td>
      <td class="text-danger p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-danger-40 ">
      <td class="p-1">7999.00</td>
      <td class="text-danger p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-danger-20 ">
      <td class="p-1">7999.00</td>
      <td class="text-danger p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg--0 ">
      <td class="p-1">7999.00</td>
      <td class="text- p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-success-20 ">
      <td class="p-1">7999.00</td>
      <td class="text-success p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-success-40 ">
      <td class="p-1">7999.00</td>
      <td class="text-success p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-success-60 ">
      <td class="p-1">7999.00</td>
      <td class="text-success p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
    <tr class="bg-success-80 ">
      <td class="p-1">7999.00</td>
      <td class="text-success p-1">8023.5</td>
      <td class="p-1">213,533</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div> -->


<div class="col-md-7 col-lg-8">
<div class="card">
<div class="card-header">
<h4 class="card-title">News</h4>
</div>
<!-- <div class="card-body"><div id="chartdiv"></div></div> -->
<div class="card-body"><!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
      {
      "feedMode": "all_symbols",
      "isTransparent": false,
      "displayMode": "regular",
      "height": "550",
      "colorTheme": "light",
      "locale": "en"
    }
      </script>
    </div>
    <!-- TradingView Widget END --></div>
</div>
</div>

<!-- market news -->
<!-- <div class="col-md-5 col-lg-4">
<div class="card">
<div class="card-header">
<h4 class="card-title">Market News</h4>
</div>
<div class="card-body">
<ul class="list-group list-group-flush" id="market-news">
  <li class="list-group-item ">
    <img
      class="rounded float-start img-fluid mb-2"
      src={{url_for('static', filename="dashboard/assets/images/market-news/1.jpg")}}
      alt="market news"
    />

    <a href="#">Bitcoin rally meets resistance as price approaches its 200-day moving average</a>
  </li>
  <li class="list-group-item pt-3">
    <img
      class="rounded float-start img-fluid mb-2"
      src={{url_for('static', filename="dashboard/assets/images/market-news/2.jpg")}}
      alt="market news"
    />

    <a href="#">Bitcoin, cryptocurrencies and your retirement savings — what to do and what NOT to do</a>
  </li>
  <li class="list-group-item pt-3">
    <img
      class="rounded float-start img-fluid mb-2"
      src={{url_for('static', filename="dashboard/assets/images/market-news/3.jpg")}}
      alt="market news"
    />

    <a href="#">These are seven of the best cryptos on the market.</a>
  </li>
</ul>
</div>
</div>
</div> -->

<!-- Table of Orders -->
<!-- <div class="col-12">
<div class="card quick-trad">
<div class="card-header">
<div class="nav d-flex" role="tablist">
  <a
    class="mb-2 px-1 active me-2"
    data-toggle="tab"
    href="#Active_Order"
    role="tab"
    aria-selected="true"
    >Active Order(10)</a
  >
  <a
    class="mb-2 px-1 me-2"
    data-toggle="tab"
    href="#History"
    role="tab"
    aria-selected="true"
    >History (2)</a
  >
  <a
    class="mb-2 px-1 me-2"
    data-toggle="tab"
    href="#Position"
    role="tab"
    aria-selected="true"
    >Position (2)</a
  >
</div>
</div>
<div class="card-body">
<div class="tab-content">
  <div class="tab-pane fade show active" id="Active_Order" role="tabpanel">
    <div class="table-responsive w-100">
      <table class="table table-striped table-hover mb-0 cmw-50 w-100">
        <thead>
          <tr class="text-muted">
            <td class="border-0">Symbol</td>
            <td class="border-0">Price</td>
            <td class="border-0">Size</td>
            <td class="border-0">Order Value (BTC)</td>
            <td class="border-0">Type</td>
            <td class="border-0">Average Price</td>
            <td class="border-0">Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="op-bitcoin  trad-table-icon rounded-2">
                <i class="cc BTC-alt text-bitcoin"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>BTC - USD</td>
            <td>0.1234567 BTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ethereum  trad-table-icon rounded-2">
                <i class="cc ETH-alt text-ethereum"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>ETH - USD</td>
            <td>0.1234567 ETH</td>
            <td class="text-warning text-capitalize">panding</td>
          </tr>
          <tr>
            <td>
              <span class="op-tether  trad-table-icon rounded-2">
                <i class="cc USDT text-tether"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>USDT - USD</td>
            <td>0.1234567 USDT</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-dash  trad-table-icon rounded-2">
                <i class="cc DASH-alt text-dash"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>DASH - USD</td>
            <td>0.1234567 DASH</td>
            <td class="text-danger text-capitalize">canceled</td>
          </tr>
          <tr>
            <td>
              <span class="op-ltc  trad-table-icon rounded-2">
                <i class="cc LTC-alt text-ltc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>LTC - USD</td>
            <td>0.1234567 LTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-pink  trad-table-icon rounded-2">
                <i class="cc PINK text-pink"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PINK - USD</td>
            <td>0.1234567 PINK</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ppc  trad-table-icon rounded-2">
                <i class="cc PPC text-ppc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PPC - USD</td>
            <td>0.1234567 PPC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade show" id="History" role="tabpanel">
    <div class="table-responsive w-100">
      <table class="table table-striped table-hover mb-0 cmw-50 w-100">
        <thead>
          <tr class="text-muted">
            <td class="border-0">Symbol</td>
            <td class="border-0">Price</td>
            <td class="border-0">Size</td>
            <td class="border-0">Order Value (BTC)</td>
            <td class="border-0">Type</td>
            <td class="border-0">Average Price</td>
            <td class="border-0">Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="op-bitcoin trad-table-icon rounded-2">
                <i class="cc BTC-alt text-bitcoin"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>BTC - USD</td>
            <td>0.1234567 BTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ethereum trad-table-icon rounded-2">
                <i class="cc ETH-alt text-ethereum"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>ETH - USD</td>
            <td>0.1234567 ETH</td>
            <td class="text-warning text-capitalize">panding</td>
          </tr>
          <tr>
            <td>
              <span class="op-tether trad-table-icon rounded-2">
                <i class="cc USDT text-tether"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>USDT - USD</td>
            <td>0.1234567 USDT</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-dash trad-table-icon rounded-2">
                <i class="cc DASH-alt text-dash"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>DASH - USD</td>
            <td>0.1234567 DASH</td>
            <td class="text-danger text-capitalize">canceled</td>
          </tr>
          <tr>
            <td>
              <span class="op-ltc trad-table-icon rounded-2">
                <i class="cc LTC-alt text-ltc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>LTC - USD</td>
            <td>0.1234567 LTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-pink trad-table-icon rounded-2">
                <i class="cc PINK text-pink"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PINK - USD</td>
            <td>0.1234567 PINK</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ppc trad-table-icon rounded-2">
                <i class="cc PPC text-ppc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PPC - USD</td>
            <td>0.1234567 PPC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade show" id="Position" role="tabpanel">
    <div class="table-responsive w-100">
      <table class="table table-striped table-hover mb-0 cmw-50 w-100">
        <thead>
          <tr class="text-muted">
            <td class="border-0">Symbol</td>
            <td class="border-0">Price</td>
            <td class="border-0">Size</td>
            <td class="border-0">Order Value (BTC)</td>
            <td class="border-0">Type</td>
            <td class="border-0">Average Price</td>
            <td class="border-0">Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="op-bitcoin trad-table-icon rounded-2">
                <i class="cc BTC-alt text-bitcoin"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>BTC - USD</td>
            <td>0.1234567 BTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ethereum trad-table-icon rounded-2">
                <i class="cc ETH-alt text-ethereum"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>ETH - USD</td>
            <td>0.1234567 ETH</td>
            <td class="text-warning text-capitalize">panding</td>
          </tr>
          <tr>
            <td>
              <span class="op-tether trad-table-icon rounded-2">
                <i class="cc USDT text-tether"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>USDT - USD</td>
            <td>0.1234567 USDT</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-dash trad-table-icon rounded-2">
                <i class="cc DASH-alt text-dash"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>DASH - USD</td>
            <td>0.1234567 DASH</td>
            <td class="text-danger text-capitalize">canceled</td>
          </tr>
          <tr>
            <td>
              <span class="op-ltc trad-table-icon rounded-2">
                <i class="cc LTC-alt text-ltc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>LTC - USD</td>
            <td>0.1234567 LTC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-pink trad-table-icon rounded-2">
                <i class="cc PINK text-pink"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PINK - USD</td>
            <td>0.1234567 PINK</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
          <tr>
            <td>
              <span class="op-ppc trad-table-icon rounded-2">
                <i class="cc PPC text-ppc"></i>
              </span>
            </td>
            <td>0.097777733</td>
            <td>7812.43</td>
            <td>0.236789 BTC</td>
            <td>PPC - USD</td>
            <td>0.1234567 PPC</td>
            <td class="text-success text-capitalize">complete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div> -->


</div>

</div>
</main>
<script src={{url_for('static', filename="dashboard/assets/vendor/tradingview/tv.js")}}></script>

<script src={{url_for('static', filename="dashboard/assets/vendor/amchart/core.js")}}></script>

<script src={{url_for('static', filename="dashboard/assets/vendor/amchart/charts.js")}}></script>

<script src={{url_for('static', filename="dashboard/assets/vendor/amchart/animated.js")}}></script>

<script src={{url_for('static', filename="dashboard/assets/js/trade-init.js")}}></script>

<script src={{url_for('static', filename="dashboard/assets/js/amchart.js")}}></script>
<!-- 1-2022 -->
{% endblock %}
      
    
