<!DOCTYPE html>
<html lang="zxx" class="js">
	

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description"
		content="Potomac is a copy trade platform for crypto investors to invest without prior experience by letting experts trade for them">
		<!-- Fav Icon  -->
		<link rel="shortcut icon" href={{url_for('static', filename="landing/images/favicon.png") }}>
		<!-- Site Title  -->
		<title>{% block title %}{% endblock %} -Potomac</title>
		<!-- Vendor Bundle CSS -->
		<link rel="stylesheet" href={{url_for('static', filename="landing/assets/css/vendor.bundle.css") }} >
		<!-- Custom styles for this template -->
		<link rel="stylesheet" href={{url_for('static', filename="landing/assets/css/style5152.css") }}>
		<link rel="stylesheet" id="layoutstyle" href={{url_for('static', filename="landing/assets/css/theme5152.css") }}>
		
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		//ga('create', '', '');
		//ga('send', 'pageview');
		</script>
	</head>
	<body>
		<!-- Header --> 
<header class="site-header header-s1 is-sticky">
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<!-- <ul class="social">
						<li><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
						<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
					</ul> -->
				</div>
				<div class="col-sm-6 al-right">
					<ul class="top-nav">
						<!-- <li><a href="faqs.html">Help</a></li> -->
						<li><a href={{url_for('frontend.support')}}>Support</a></li>
						{% if not current_user.is_authenticated %}
						<li><a href={{url_for('dashboard.sign_in')}}>Login</a></li>
						<li><a href={{url_for('frontend.register')}}>Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	<!-- Navbar -->
	<div class="navbar navbar-primary">
		<div class="container relative">
			<!-- Logo -->
			<a class="navbar-brand" href={{url_for('frontend.home')}}>
				<img class="logo logo-dark" alt="logo" src={{url_for('static', filename="landing/images/logo.png") }}>
				<img class="logo logo-light" alt="logo" src={{url_for('static', filename="landing/images/logo_white.png") }}>
			</a>
			<!-- #end Logo -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="quote-btn"><a class="btn" href={{url_for('dashboard.dashboard_home')}}><span>get started</span></a></div>
			</div>
			<!-- MainNav -->
			<nav class="navbar-collapse collapse" id="mainnav">
				<ul class="nav navbar-nav">
					<li class=""><a href={{url_for('frontend.home')}} class="">Home <b class=""></b></a>
						<!-- <ul class="dropdown-menu">
							<li><a href="index-2.html">Home - Default</a></li>
							<li><a href="index-wallet.html">Home - Wallet</a></li>
							<li><a href="index-mining.html">Home - Mining</a></li>
						</ul> -->
					</li>
					<!-- <li class="dropdown"><a href="#" class="dropdown-toggle">Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">About Pages</a>
								<ul class="dropdown-menu">
									<li><a href="about.html">About Us</a></li>
									<li><a href="teams.html">Teams</a></li>
									<li><a href="testimonial.html">Testimonial</a></li>
								</ul>
							</li>
							<li><a href="#">Service Pages</a>
								<ul class="dropdown-menu">
									<li><a href="service.html">Service List</a></li>
									<li><a href="service-single.html">Service Single</a></li>
								</ul>
							</li>
							<li><a href="#">BitCoin Pages</a>
								<ul class="dropdown-menu">
									<li><a href="work-process.html">How it Works</a></li>
									<li><a href="buy-sell.html">Buy &amp; Sell</a></li>
									<li><a href="wallet-features.html">Wallet Features</a></li>
									<li><a href="market-data.html">Market Data</a></li>
									<li><a href="pricing.html">Pricing</a></li>
								</ul>
							</li>
							<li><a href="#">Blog Pages</a>
								<ul class="dropdown-menu">
									<li><a href="blog.html">Blog List</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
								</ul>
							</li>
							<li><a href="#">Miscellaneous Pages</a>
								<ul class="dropdown-menu">
									<li><a href="pricing-table.html">Pricing Table</a></li>
									<li><a href="signup.html">Sign In/Sign Up</a></li>
									<li><a href="faqs.html">Faq/Support</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</li>
							<li><a href="typography.html">Typography</a></li>
						</ul>
					</li> -->
					<li><a href={{url_for('frontend.buy_and_sell')}}>Plans</a></li>
					<li><a href={{url_for('frontend.wallet')}}>wallet</a></li>
					<li><a href={{url_for('frontend.market_data')}}>Market data</a></li>
					<li><a href={{url_for('frontend.contact')}}>About</a></li>
					<li class="quote-btn hidden-xs hidden-sm"><a class="btn" href={{url_for('dashboard.dashboard_home')}}>get started</a></li>
				</ul>
			</nav>
			<!-- #end MainNav -->
		</div>
	</div>
	<!-- End Navbar -->

        {% block main %}
        {% endblock %}
	
		
       	<!-- Section Footer -->
		<div class="footer-section section section-pad-md light bg-footer">
			<div class="imagebg footerbg">
				<img src={{url_for('static', filename="landing/images/footer-bg.png") }} alt="footer-bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Services</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Buy Bitcoins</a></li>
									<li><a href="#">Buy Ethereum</a></li>
									<li><a href="#">Sell Bitcoins</a></li>
									<li><a href="#">Bitcoin Trading</a></li>
									<li><a href="#">Margin Trading</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
						<!-- Each Widget -->
						<!-- <div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Information</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="#">Payment Options</a></li>
									<li><a href="#">Fee Schedule</a></li>
									<li><a href="#">Getting Started</a></li>
									<li><a href="#">Identity Verification Guide</a></li>
									<li><a href="#">Card Verification Guide</a></li>
								</ul>
							</div>
						</div> -->
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
						<!-- Each Widget -->
						<!-- <div class="wgs-footer wgs-post">
							<h5 class="wgs-title ucap">Recent Blog</h5>
							<div class="wgs-content">
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src={{url_for('static', filename="landing/images/post-thumb-sm-b.jpg") }} alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
								<div class="wgs-post-single">
									<div class="wgs-post-thumb">
										<img src={{url_for('static', filename="landing/images/post-thumb-sm-c.jpg") }} alt="post-thumb">
									</div>
									<div class="wgs-post-entry">
										<h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to Keep Pace with Demand </a></h6>
										<span class="wgs-post-meta">December 19, 2017</span>
									</div>
								</div>
							</div>
						</div> -->
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-contact">
							<h5 class="wgs-title ucap">get in touch</h5>
							<div class="wgs-content">
								<ul class="wgs-contact-list">
									<li><span class="pe pe-7s-map-marker"></span>217 Summit Boulevard <br/>Birmingham, AL 35243</li>
									<li><span class="pe pe-7s-call"></span>Telephone : (123) 4567 8910 <br/>Telephone : (123) 1234 5678</li>
									<li><span class="pe pe-7s-global"></span>Email : <a href="mailto:potomaccopytrade@gmail.com">potomaccopytrade@gmail.com</a> <br/>Web : <a href="#">www.example.com</a></li>
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
				</div>
			</div>	
		</div>
		<!-- End Section -->
		
		<!-- Copyright -->
		<div class="copyright light">
			<div class="container">
				<div class="row">
					<div class="site-copy col-sm-7">
						<p>Copyright &copy; 2023 <a href=""></a></p>
					</div>
					<div class="col-sm-5 text-right mobile-left">
						<!-- <ul class="social">
							<li><a href="#"><em class="fa fa-facebook"></em></a></li>
							<li><a href="#"><em class="fa fa-twitter"></em></a></li>
							<li><a href="#"><em class="fa fa-linkedin"></em></a></li>
							<li><a href="#"><em class="fa fa-google-plus"></em></a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright -->
		
		<!-- Preloader !remove please if you do not want -->
		<div id="preloader"><div id="status">&nbsp;</div></div>
		<!-- Preloader End -->
		
		<!-- JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src={{url_for('static', filename="landing/assets/js/jquery.bundle.js") }}></script>
		<script src={{url_for('static', filename="landing/assets/js/script.js") }}></script>
		<script>
		  (function(b,i,t,C,O,I,N) {
			window.addEventListener('load',function() {
			  if(b.getElementById(C))return;
			  I=b.createElement(i),N=b.getElementsByTagName(i)[0];
			  I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
			},false)
		  })(document,'script','https://www.widgets.bitcoin.com/widget.js','btcwdgt');
		</script>
	</body>
</html>
