{% extends 'landing/base.html' %}
		</header>

		{% block title %}Register{% endblock %} 
    {% block main %}

<!-- flashed message from server -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container">
  <div class="row">
	{% for category, message in messages %}
	  <div class="col-sm-6 col-md-6">
		  <div class="alert alert-{{category}}">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				  ×</button>
			 <span class="glyphicon glyphicon-info-sign"></span> <strong></strong>
			  <hr class="message-inner-separator">
			  <p>{{message}}</p>
		  </div>
	  </div>
	{% endfor %}
  </div>
</div>
{% endif %}
{% endwith %}
<style>
hr.message-inner-separator
{
clear: both;
margin-top: 10px;
margin-bottom: 13px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
</style>
<!-- endflash -->
	   	<!-- Section -->
		   <div class="section section-pad">
			<div class="container">
				<div class="tab-custom">
					<div class="row">
						<div class="col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">
							<ul class="nav nav-tabs ucap" id="loginreg-form">
								<!-- <li><a href="#tab1" data-toggle="tab">Log In</a></li> -->
								<li class="active"><a href="#tab2" data-toggle="tab">Register</a></li>
							</ul>
						</div>
					</div>
					<div class="gaps size-2x"></div>
					<!-- Tab panes -->
					<div class="tab-content no-pd">
						<!-- <div class="tab-pane fade in active" id="tab1">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
									<h3 class="heading-lead center">Login Your Account</h3>
									<form class="form-signup"  method="post">
										<div class="form-results"></div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="signup-email" type="email" placeholder="Email *" class="form-control required email" aria-required="true">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="signup-passkey" type="password" placeholder="Password *" class="form-control required" aria-required="true">
											</div>
										</div>
										<button type="submit" class="btn btn-alt">Log In</button>
										<span class="gaps"></span>
										<p class="small">Not registered? <a class="switch-tab" data-tabnav="loginreg-form" href="#tab2" data-toggle="tab">Register here</a></p>
									</form>
								</div>
							</div>
						</div> -->
						<div class="tab-pane fade in active" id="tab2">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
									<h3 class="heading-lead center">Register An Account</h3>
									<form class="form-signup" onsubmit="return validatePassword()"  method="post">
										<div class="form-results"></div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="fullname" type="text" placeholder="Name *" class="form-control required" aria-required="true" required>
											</div>
										</div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="email" type="email" placeholder="Email *" class="form-control required email" aria-required="true" required>
											</div>
											<div class="form-field form-m-bttm">
												<label for="dob">Date Of Birth</label>
												<input id="dob" name="dob" type="date" placeholder="Date of birth *" class="form-control required email" aria-required="true" required>
											</div>
											<div class="form-field form-m-bttm">
												<input name="country" type="text" placeholder="country *" class="form-control required email" aria-required="true" required>
											</div>
											<div class="form-field form-m-bttm">
												<input  name="phone" type="phone" placeholder="Phone *" class="form-control required email" aria-required="true" required>
											</div>
											<div class="form-field form-m-bttm">
												<input name="postal_code" type="postal_code" placeholder="Postal Code *" class="form-control required email" aria-required="true" required>
											</div>
											<div class="form-field form-m-bttm">
												<label for="ref">Username of Referrer (Optional)</label>
												<input id="ref" name="referee" type="text" value="{{username}}" placeholder="Username of referer" class="form-control required email" aria-required="true" >
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="password" type="password" id="password" placeholder="Password *" class="form-control required" aria-required="true" required>
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="passkey-confirm" type="password" id="confirmPassword" placeholder="Confirm Password *" class="form-control required" aria-required="true" required>
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input type="checkbox" name="signup-term" required> <span> I accept and agree with the terms of the <a href="#">User Agreement</a>.</span>
											</div>
										</div>
										<p class="text-danger" id="validationMessage"></p>

										<button type="submit" class="btn btn-alt">Signup</button>
										<span class="gaps"></span>
										<p class="small">Already registered? <a class="switch-tab"  href={{url_for('dashboard.sign_in')}} >Login here</a></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- End Section -->

		<script>
			function validatePassword() {
			  var passwordInput = document.getElementById("password");
			  var confirmPasswordInput = document.getElementById("confirmPassword");
			  var validationMessage = document.getElementById("validationMessage");
		
			  var password = passwordInput.value;
			  var confirmPassword = confirmPasswordInput.value;
		
			  var minLength = 8;
			  var uppercaseRegex = /[A-Z]/;
			  var lowercaseRegex = /[a-z]/;
			  var digitRegex = /[0-9]/;
			  var specialCharRegex = /[!@#$%^&-/_*]/;
		
			  if (password !== confirmPassword) {
				validationMessage.innerHTML = "Passwords do not match.";
				return false;
			  }
		
			  if (password.length < minLength) {
				validationMessage.innerHTML = "Password should be at least " + minLength + " characters long.";
				return false;
			  }
		
			  if (!uppercaseRegex.test(password)) {
				validationMessage.innerHTML = "Password should contain at least one uppercase letter.";
				return false;
			  }
		
			  if (!lowercaseRegex.test(password)) {
				validationMessage.innerHTML = "Password should contain at least one lowercase letter.";
				return false;
			  }
		
			  if (!digitRegex.test(password)) {
				validationMessage.innerHTML = "Password should contain at least one digit.";
				return false;
			  }
		
			  if (!specialCharRegex.test(password)) {
				validationMessage.innerHTML = "Password should contain at least one special character.";
				return false;
			  }
		
			  validationMessage.innerHTML = "Passwords are valid.";
			  return true;
			}
		  </script>
      	
		
	{% endblock %}